/* body {
  width: 600px;
  height: 700px;
} */

nav {
  box-shadow: none;
  font-family: Menlo;
}

header {
  padding: 20px 0;
}

/*
.month {
  font-size: 40px
}

.year {
  font-size: 100px
}
*/

.event-description {
  margin: 0 20px;
  padding: 10px 0;
  background-color: rgb(244, 245, 246);
  border-left: #ee6e73 solid 3px;
}

.event-description ul.collection, .event-description ul.collection li.collection-item  {
  border: none;
  background-color: inherit;
}

.selector {
  width: 80vw;
  /* height: 10vh; */
}

.selector i {
  font-size: 80px;
  color: #e0e0e0;
}

.selector .date {
  padding: 10px 0;
  color: #757575;
}

.selector .date .month {
  font-size: 25px;
}

.circled {
  padding: 10px;
  border-radius: 5px;
}

.circled.digit {
  padding-right: 14px;
  padding-left: 14px;
}

.circled.red, .circled.blue {
  color: white;
}
